@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

.words{
    filter: blur(4px);
}

.game:focus .words{
    filter: blur(0px);  
}

.game{
    /* box-sizing: border-box; */
    font-family: 'roboto Mono', monospace;
    /* border: 1px solid var(--secondary-color); */
}

.game:focus .focus-error{
    display: none;
}

.focus-error{
    text-align: center;
}


div .word{
    display: inline-block;
    margin: 0 5px;
    color: var(--iconstext-color);
    /* font-family: 'roboto Mono', monospace; */
    /* border:solid 1px blue; */
}

.letter{
    margin: 0;
    padding: 0;
}

.correct {
    color: var(--correct-letter-color);

}

.incorrect {
    color: var(--incorrect-letter-color);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#cursor {
    display: none;
    animation: blink 1s infinite;
}

#game:focus #cursor {
    display: block;
}