@import "tailwindcss";

.words{
    filter: blur(4px);
}

.game:focus .words{
    filter: blur(0px);  
}

.game:focus .focus-error{
    display: none;
}

.focus-error{
    text-align: center;
}


div .word{
    display: inline-block;
    font-family: 'roboto Mono', monospace;
    margin: 0 5px;
    color: var(--iconstext-color);
}

.correct {
    color: var(--correct-letter-color);

}

.incorrect {
    color: var(--incorrect-letter-color);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#cursor {
    display: none;
    animation: blink 1s infinite;
}

#game:focus #cursor {
    display: block;
}